[submodule "dstats"]
	path = content/repos/dstats
	url = https://github.com/DlangScience/dstats
	branch = master
[submodule "NetCDF-D"]
	path = content/repos/NetCDF-D
	url = https://github.com/DlangScience/NetCDF-D
	branch = master
[submodule "OpenMPI"]
	path = content/repos/OpenMPI
	url = https://github.com/DlangScience/OpenMPI
	branch = master
[submodule "PydMagic"]
	path = content/repos/PydMagic
	url = https://github.com/DlangScience/PydMagic
	branch = master
[submodule "cblas"]
	path = content/repos/cblas
	url = https://github.com/DlangScience/cblas
	branch = master
[submodule "clFFT-D"]
	path = content/repos/clFFT-D
	url = https://github.com/DlangScience/clFFT-D
	branch = master
[submodule "libcerf"]
	path = content/repos/libcerf
	url = https://github.com/DlangScience/libcerf
	branch = master
[submodule "parallel_algorithm"]
	path = content/repos/parallel_algorithm
	url = https://github.com/DlangScience/parallel_algorithm
	branch = master
